/*
 * -------------------------------------------------
 * characterize_dup_IDs Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Read more in the nextflow config documentation
 * https://www.nextflow.io/docs/edge/config.html
 */


// Global default params, used in configs
params {

  //workdir
  outdir = "out"
  intermediates="out/intermediates"

}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

